extends contest_layout

block content_contest
	- var statusMap = { "Accepted": "success", "Wrong Answer": "danger", "Time Limit Exceeded": "warning", "Memory Limit Exceeded": "warning", "Runtime Error": "warning", "Compilation Error": "primary", "No Source": "warning", "Dangerous Program": "primary", "Waiting": "info", "Running": "info", "Compilation Success": "info" }
	div.container-fluid
		div.page-header
			h3 #{contesttitle}
		div.col-md-4.col-xs-12
			div.panel.panel-default
				div.panel-heading
					p 通告
				div.panel-body
					- if (dashboard) {
						- var lines = dashboard.split('\n');
						- for (var i in lines) {
							p= lines[i]
						- }
					- } else {
						p 当前没有通告
					- }
		div.col-md-8.col-xs-12
			table.table.table-hover
				thead
					tr
						th #
						th Problem
				tbody
					- for(var i = 0 ; i < problems.length;i++){
						tr
							td #{i}
								- if (judges && judges[i]) {
									a(href='/contests/#{contestid}/detail/#{judges[i]._id}')
										span.label(class='label-#{statusMap[judges[i].status]}') #{now.status} 
								- }
							td
								a(href='/contests/#{contestid}/problems/#{i}') #{problems[i].title}
					- }
