extends contest_layout

block content_contest
	div.container-fluid
		div.row
			table.table.table-hover
				thead
					th #
					th 学校
					th 选手
					th 分数
					- for (var i in problems) {
						th
							a(href='/contests/#{contestid}/problems/#{i}')= problems[i].title
					- }
				tbody
					- var rank = 1;
					- for (var i in players) {
						- var player = players[i];
						- if (i !== '0' && player.total_score === players[i - 1].total_score) { } else { rank = parseInt(i) + 1; }
						tr(class="#{(player.user.username==user)?'active':''}")
							td= rank
							td
								small= player.user.school
							td= player.user.realname
							td= player.total_score === 'unknown' ? '未知' : player.total_score
							- for (var j in problems) {
								- if (player.details[j] && player.details[j].judge_id !== "null" && player.details[j].judge_id) {
									- if (player.user.username === user || canViewCode) {
									td
										a(href='/contests/#{contestid}/detail/#{player.details[j].judge_id}')= player.details[j].score == 'submitted' ? '已提交' : player.details[j].score
									- } else {
										td= player.details[j].score == 'submitted' ? '已提交' : player.details[j].score
									- }
								- } else {
									td
								- }
							- }
						- }
