extends layout

block content
	div(class="article")
		ul.list-group
			- for (var i in contestlist) {
				a.list-group-item(href="#{(contestlist[i].status=='in_progress'||contestlist[i].status=='ended')?'/contests/'+contestlist[i].id:'#'}")
					p
						big #{contestlist[i].name}&nbsp;&nbsp;
						- if (contestlist[i].status == 'in_progress') {
							span.label.label-success 进行中
						- } else if (contestlist[i].status == 'ended') {
							span.label.label-info 已结束
						- } else {
							span.label.label-danger 未开始
						- }
						- if (contestlist[i].hidden) {
							span.label.label-warning 隐藏
						- }
					p 开始时间: #{contestlist[i].start_time} 
					p 结束时间: #{contestlist[i].end_time} 
				- if (is_admin) {
					a.list-group-item(href='/editcontests/#{contestlist[i].id}') 编辑比赛
					a.list-group-item
				- }
			- }
			- if (is_admin) {
				a.list-group-item(href="/addcontests") 添加比赛
			- }
