extends layout

- var filtered = 0


block content
	iv.container-fluid
		h3 HJA Naive

		form(method='POST' action='/rejudge')
			div.col-xs-6.col-md-4
				input.form-control(name='id' value='' placeholder='id',style='margin-bottom:10px')
			div.col-xs-6.col-md-4
				input.form-control(name='title' value='' placeholder='title',style='margin-bottom:10px')
			div.col-xs-6.col-md-4
				input.form-control(name='user' value='' placeholder='user',style='margin-bottom:10px')
			div.col-xs-6.col-md-4
				input.form-control(name='status' value='' placeholder='status',style='margin-bottom:10px')
			div.col-xs-6.col-md-4
				input.form-control(name='score' value='' placeholder='score',style='margin-bottom:10px')
			div.col-xs-6.col-md-4
				input.btn.btn-default(type='submit' value='Filter',style='margin-bottom:10px')

		table.table.table-hover
			thead
				tr
					th #
					th Tim
					th Zhihu
					th Hentai
					th Deli
					th What ghost
					th Something Interesting
				tbody
					- if (filtered != 0) {
					-	for (var a = judgelist.length-1; a >= 0; a-- ) {
					-		var now = judgelist[a];
					-		var able = 1;
					-		if (able == 1) {
								tr
									td #{now.id}
									td #{now.title}
									td #{now.user}
									td #{now.status}
									td
										a(href='/contest/#{now.contest}/detail/#{ now.id }') #{now.score}
									td #{now.time}
									td
										form(method='POST' action='/api/rejudge' style:'display:none')
											input.form-control(style='display:none' name='_id' value='#{now.id}')
											input.btn.btn-default(type='submit' value='Rejudge')
					-		}
					-	}
					- }

