extends layout

- var filtered = 0


block content
	div.container-fluid
		div.page-header
			h3 状态和重测

		form(method='POST' action='/rejudge')
			div.col-xs-6.col-md-4
				input.form-control(name='id' value='#{globalid}' placeholder='id',style='margin-bottom:10px')
			div.col-xs-6.col-md-4
				input.form-control(name='title' value='#{globaltitle}' placeholder='title',style='margin-bottom:10px')
			div.col-xs-6.col-md-4
				input.form-control(name='user' value='#{globaluser}' placeholder='user',style='margin-bottom:10px')
			div.col-xs-6.col-md-4
				input.form-control(name='status' value='#{globalstatus}' placeholder='status',style='margin-bottom:10px')
			div.col-xs-6.col-md-4
				input.form-control(name='score' value='#{globalscore}' placeholder='score',style='margin-bottom:10px')
			div.col-xs-6.col-md-4
				input.btn.btn-default(type='submit' value='Filter',style='margin-bottom:10px')

		form(method='POST' action='/api/rejudge')
			input.form-control(name='_id' value='#{globalid}' placeholder='id',style='display:none')
			input.form-control(name='title' value='#{globaltitle}' placeholder='title',style='display:none')
			input.form-control(name='user' value='#{globaluser}' placeholder='user',style='display:none')
			input.form-control(name='status' value='#{globalstatus}' placeholder='status',style='display:none')
			input.form-control(name='score' value='#{globalscore}' placeholder='score',style='display:none')
			div.col-xs-6.col-md-4
				input.btn.btn-default(type='submit' value='Rejudge All',style='margin-bottom:10px')


		table.table.table-hover
			thead
				tr
					th #
					th Title
					th User
					th Status
					th Score
					th Time
					th Something Interesting
				tbody
					- if (filtered != 0) {
					-	for (var a = judgelist.length-1; a >= 0; a-- ) {
					-		var now = judgelist[a];
					-		var able = 1;
					-		if (able == 1) {
								tr(onclick="window.location.href='/contests/#{now.contest}/detail/#{ now.id }'" style='cursor: pointer;')
									td #{now.id}
									td #{now.title}
									td #{now.user}
									td #{now.status}
									td #{now.score}
									td #{now.time}
									td
										form(method='POST' action='/api/rejudge' style:'display:none')
											input.form-control(style='display:none' name='_id' value='#{now.id}')
											input.btn.btn-default(type='submit' value='Rejudge')
					-		}
					-	}
					- }

